<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation</title>
    <link rel="stylesheet" type="text/css" href="./../static/styles.css">
    <title>ScreenSurf</title>
</head>
<body>
    <div class="background-container">
        <div class="overlay"></div>
    </div>
    <nav>
        <h1>HiAnime</h1>
        <ul>
            <!-- <li><a href="url.com">ScreenSurf</a></li> -->
            <li class='sream'><a href="http://13.232.157.160/">Stream</a></li>
        </ul>
    </nav>
    <div class="content">
        <form method="POST">
            <label for="movie_title"></label>
            <input type="text" id="movie_title" name="movie_title" required placeholder="What's your favourite movie?">
            <input class="input-button" type="submit" value="Recommend">
        </form>        
        
    </div>
    <div class="results">
    {% if user_input %}
    <div class="left">
        <h2>If you like {{user_input}}, then you should try : </h2>
        <!-- <p>{{ user_input }}</p> -->
    </div>

    {% endif %}

    {% if recommendations %}
    <div class="right">
        <h2>Recommended Movies:</h2>
    <ul>
        {% for movie in recommendations %}
        <li>
            <img src="{{ movie['Image_URL'] }}" alt="{{ movie['title'] }} Cover">
            {{ movie['title'] }}
        </li>
        {% endfor %}
    </ul>
    </div>
    
    {% endif %}
</div>
</body>
</html>
